<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.Mapper.ArticleMapper">
    <insert id="insert" parameterType="Article" keyProperty="artId" useGeneratedKeys="true" keyColumn="art_id">
        INSERT INTO article (art_title, art_content, art_type, create_date, author, cmt_num)
        VALUES (#{artTitle}, #{artContent}, #{artType}, #{createDate}, #{author}, #{cmtNum});

    </insert>

    <update id="update" parameterType="Article">
        UPDATE article
        SET art_title = #{artTitle}, art_content = #{artContent}, art_type = #{artType}
        WHERE art_id = #{artId};

    </update>
    <select id="getArticleById" parameterType="int" resultType="Article">
        SELECT *
        FROM article
        WHERE art_id = #{id};
    </select>
    <delete id="delete" parameterType="int">
        DELETE FROM article
        WHERE art_id = #{id};
    </delete>
    <select id="getArticlesByEmail" resultType="Article">
        SELECT *
        from article
        WHERE author = #{email};
    </select>
</mapper>