<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.Mapper.UserMapper">
    <insert id="insert" keyColumn="email" keyProperty="email" useGeneratedKeys="true" parameterType="User">
        INSERT INTO user(email, user_name, password, avatar, token, expired_date, intro, is_male)
        VALUES (#{email}, #{userName},#{password},#{avatar}, #{token}, #{expiredDate}, #{intro}, #{isMale})
    </insert>
    <select id="findByEmail" parameterType="String" resultType="User">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>
    <select id="findByToken" parameterType="String" resultType="User">
        SELECT *
        FROM user
        WHERE token = #{token}
    </select>
    <update id="updateToken">
        UPDATE user
        SET token = #{1},expired_date = #{2}
        WHERE email = #{0}
    </update>
    <update id="updateInfo" parameterType="User">
        UPDATE user
        SET user_name = #{userName},password = #{password},
        avatar = #{avatar},intro = #{intro},
        is_male = #{isMale}
        WHERE email = #{email}
    </update>
</mapper>